body{
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}
.fylo-main{
    padding:  2rem 4rem;
}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 15%;
}
.logo img{
    width: 100%;
}
.nav-bar-links{
    margin: 0.7rem 0;
    display: flex;
    gap: 2rem;
}
.pri-link{
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: rgb(25, 0, 52);
    font-weight: lighter;
    font-size: 1.1rem;
}
/* first section div code */
.section-n1{
    margin: 5rem 0 ;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.first-pic{
    width: 100%;
}
.first-pic img{
    width: 100%;
}
.text1{
    padding-top: 4rem;
}
h1{
    font-size: 2.6rem;
}
.parag-1{
    color: rgb(41, 41, 41);
    font-size: 1.4rem;
}
.email{
    width: 35%;
    padding: 0.6rem 1rem;
}
.submit{
    border: 1px solid rgb(0, 89, 255) ;
    background-color: rgb(0, 89, 255);
    font-size: 1rem;
    color: rgb(255, 255, 255);
    padding: 0.6rem 2rem;
}
.email::placeholder{
    color: rgb(187, 187, 187);
    font-size: 1.1rem;
}
/* you will see there some good waves */
.section2{
    margin-top: 10rem;
    padding-bottom: 4rem;
    background-color: rgb(80, 0, 202, 3%);
    position: relative;
}
.me img{
 bottom: 100%;
 width: 100%;
    position: absolute;
}
h2{
    font-size: 2rem;
}
.text{
    padding: 0 4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.img-2 img{
    margin: 1rem 0 0 3rem;
    width: 100%;
}
.kyle{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.213);
    border: 1px solid rgb(255, 255, 255) ;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: 2rem 0;
    height: fit-content;
    padding:  1rem 2rem ;
}
.kyle-pic{
    display: flex;
    gap: 1rem;
}
.avatar{
    width: 20%;
}
h6{
    font-size: 1rem;
    margin: 0.5rem 0;
}
.avatar img{
    border-radius: 50%;
    width: 100%;
}
.quote{
    width: 10%;
}
.link-f{
   display: flex;
   gap: 0.5rem;
}
.link-f  a{
    font-size: 1.2rem;
    margin: 0.3rem 0;
    color: rgb(72, 146, 121);
    text-decoration: none;
}
.link-f img{
    width: 5%;
}
.job-2{
    margin: 0.5rem 0;
}
/* get help and start for free section */
.get-in{
    padding: 5rem 4rem;
    background-color: rgb(85, 85, 145);
    display: flex;
    justify-content: space-between;
}
.text-5{
  width: 40%;
}
.email2{
    padding: 1rem ;
    width: 90%;
}
h3{
    margin: 0.5rem 0;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.get-text{
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}
.submit2{
    margin-top: 1rem;
    border: 1px solid rgb(0, 89, 255) ;
    background-color: rgb(0, 89, 255);
    color: rgb(255, 255, 255);
    padding: 0.6rem 2rem ;
}
/* footer */
.footer{
    background-color:rgb(30, 30, 92) ;
}
.logo-f{
    width: 50%;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}
.contact{
    margin: 2rem 0;
}
.phone-num, .email-33{
    color: rgb(255, 255, 255);
    margin: 0;
}
.phone{
    display: flex;
    column-gap: 1rem;
}
.email-3{
    column-gap: 1rem;
    display: flex;
    margin: 1rem 0;
}
.footer-links{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.ul-1{
    margin: 0 6rem;
}
.ul-2{
    margin: 0 6rem;
}
footer li{
    list-style-type: none;
}

.li-1{
    margin: 0.5rem 0;
}
.li-1 a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}
.li-3 a{
    text-decoration: none;
}
.ul-3{
    margin: 0 6rem;
    display: flex;
    column-gap: 1rem;
}
.li-3:hover{
    background-color: rgba(221, 221, 221, 0.545);
    transition: background-color .5s ease-in-out;
}
.li-3{
    text-align: center;
    width: 30px ;
    height: 30px;
    padding: 2px;
    border: 1px solid white;
    border-radius: 100% ;
}
.li-3 svg{
    margin-top: 3px;
}
@media screen and (max-width:600px){
    
    .fylo-main{
        padding: 1rem ;
    }
    .logo{
        width: 30%;
    }
    .nav-bar-links{
        margin:  0;
        display: flex;
        gap: 2rem;
    }
    footer{
        display: block;
    }
    header a{
        text-decoration: none;
        color: rgb(25, 0, 52);
        font-weight: lighter;
        font-size: 0.8rem;
    }
    .footer-links{
        display: block;
    }
    .section-n1{
        margin: 5rem 0 ;
      display: block;
    }
    .text1{
        text-align: center;
    }
    h1{
        font-size: 1.5rem;
    }
    .parag-1{
        font-size: 1.2rem;
    }
    form{
        position: relative;
        margin: 0 2rem;
    }
    .email{
        margin-top: 1rem;
          width: 90%; 
    }
    .submit{
        margin-top: 1rem;
        width: 100%; 
    }
    .section2{
        margin: 2rem 0 0 0 ;
    }
    .text{
        padding: 0 1rem;
        display: block;
    }
    h2{
        margin: 3rem 0;
        text-align: center;
        font-size: 1.4rem;
    }
    .img-2 img{
        margin: 0;
    }
    .link-f{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .kyle{
        width: 90%;
        margin: 2rem 0;
        height: fit-content;
        padding:  1rem  ;
    }
    .get-in{
        text-align: center;
        padding: 2rem 1rem;
        display: block;
    }
    .text-5{
        width: 100%;
    }
    footer{
        padding: 1rem ;
    }
    .footer-links{
        margin: 2rem 0;
    }
    .ul-1, .ul-2{
        padding: 0;
        margin: 2rem 1rem;
    }
    .ul-3{
        margin: 2rem 0 ;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
